<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RIAH TWITTER</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      안녕하세요. 리아의 샘플 트위터 페이지입니다!
    </p>
  </body>
</html>