<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to RIAH TWITTER</h1>

    <h2>
      여기는 <a href="http://cafe.naver.com/kuriah">RIAH</a>의
      샘플 프로그램 페이지입니다.
    </h2>

    <%= link_to "가입하기!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  
<% end %>
