<% provide(:title, "Log in") %>
<h1>로그인</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(비밀번호를 잊어버렸을 때)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "로그인", class: "btn btn-primary" %>
    <% end %>

    <p>새로운 사용자이신가요? <%= link_to "가입하세요!", signup_path %></p>
  </div>
</div>
