<footer class="footer">
  <small>
    Made by <a href="http://cafe.naver.com/kuriah">RIAH</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>