<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "RIAH twitter", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "메인", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "사용자", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "프로필", current_user %></li>
              <li><%= link_to "설정", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "로그아웃", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "로그인", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>